@import 'src/scss/variables/colors';

.form-container {
  height: 100vh;
  position: relative;
  width: 100vw;

  &::before {
    background-color: $limeade;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.img-logo {
  max-width: 100%;
  width: 220px;
}

.section-container {
  max-width: 100%;
  width: 300px;
}
