@import 'src/scss/variables/colors';
@import 'src/scss/variables/variables';

.container {
  margin: 20px auto;
  max-width: 100%;
  width: 600px;
}

.title {
  background-color: $white;
  box-shadow: 0 1px 2px rgba($cod-gray, 0.2);
  padding: 15px 10px;
}

.chart {
  height: 260px;
  max-width: 100%;
  width: 400px;
}

.modal-img {
  width: 250px;
}

@media only screen and (max-width: $small-device) {
  .container {
    margin: 0 auto;
  }
}
