$dove-gray: #707070;
$dusty-gray: #9B9B9B;
$wild-sand: #F6F6F6;
$cod-gray: #1A1A1A;
$limeade: #5EACFF;
$rio-grande: lighten($limeade, 7%);
$coconut-cream: lighten($limeade, 15%);
$carnation: #F55E64;
$white: #FFF;
