// Font family

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
$font-family: 'Lato', sans-serif;

// Transitions
$transition-duration: 290ms;
$transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);

// General
$content-max-width: 1250px;
$z-index-modal: 2;
$font-size-base: 15px;
$nav-height: 90px;

// Media queries
$small-device: 550px;
$medium-device: 768px;
$desktop-device: 991px;
